
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
color:white;
}

.screen{
position:absolute;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
transition:.5s;
}

.hidden{
opacity:0;
pointer-events:none;
transform:translateY(30px);
}

.card{
width:90%;
max-width:420px;
background:#1e293b;
padding:35px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,.4);
text-align:center;
animation:pop .6s;
}

@keyframes pop{

0%{
transform:scale(.8);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}

h1{

margin-bottom:10px;
font-size:32px;

}

p{

color:#cbd5e1;
margin-bottom:30px;

}

button{

width:100%;
padding:16px;
margin-top:15px;
border:none;
border-radius:12px;
font-size:17px;
cursor:pointer;
transition:.3s;

}

.primary{

background:#2563eb;
color:white;

}

.primary:hover{

background:#1d4ed8;
transform:scale(1.03);

}

.option{

background:#334155;
color:white;

}

.option:hover{

background:#475569;
transform:translateY(-3px);

}

.back{

background:#ef4444;

}

.back:hover{

background:#dc2626;

}




#timerCircle{

width:70px;
height:70px;
border-radius:50%;
border:6px solid #2563eb;

display:flex;
justify-content:center;
align-items:center;

font-size:22px;
font-weight:bold;

transition:.3s;

}

#questionText{

margin:25px 0;

font-size:22px;
line-height:1.5;

}

.answer{

margin-top:12px;

text-align:left;

}

.answer.selected{

background:#2563eb;

}

#nextBtn{

margin-top:25px;

}