#timerCircle{

width:70px;
height:70px;
border-radius:50%;
border:6px solid #2563eb;

display:flex;
justify-content:center;
align-items:center;

font-size:22px;
font-weight:bold;

transition:.3s;

}

#questionText{

margin:25px 0;

font-size:22px;
line-height:1.5;

}

.answer{

margin-top:12px;

text-align:left;

}

.answer.selected{

background:#2563eb;

}

#nextBtn{

margin-top:25px;

}